body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	min-height: 6000px;
	position: relative;
	min-width: 320px;
	overflow-x: hidden;
}
.trust-button {
	display: inline-block;
	border: solid 2px white;
	cursor: pointer;
	color: white;
	font-weight: 600;
	padding:12px 23px;
}
.clients-overlay-0 {
	z-index: 2;
	left: -11%;
}
.clients-overlay-1 {
	z-index: 4;
	left: 34%;
}
.clients-overlay-2 {
	z-index: 6;
	right: -11%;
}
.clients-overlay-red {
	img {
		opacity: 0;
	}
	width: 40%;
	transform: skewX(200deg);
	position: absolute;
	background-color: rgba(200, 0, 0, 0.6);
}
.clients-overlay-grey {
	img {
		opacity: 0;
	}
	width: 40%;
	transform: skewX(200deg);
	position: absolute;
	background-color: rgba(100, 100, 100, 0.6);
}
.trigger-active {
	text-align: center;
	color: red !important;
	font-weight: 700 !important;
	border-bottom: solid red 2px;

}
.project-button.project-button {
	cursor: pointer;
	background-color: rgb(215, 40, 40);
	width: 270px;
	margin: auto;
	color: white;
	font-weight: 600;
	padding:17px 0px !important;
}
.h1.h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 31px;
	font-weight: 600;
}
.h3.h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 21px;
	font-weight: 600;
}
.h5.h5 {
	font-size: 15px;
	font-weight: 700;
	color: rgb(220, 20, 20);
}
.h6.h6 {
	color: grey;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.h7.h7 {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;

}
.mobile-nav.mobile-nav {
	height: 350px !important;
}
.active-link {
	background-color: black;
	color: white !important;
}
.header-default {
	font-size: 30px;
}
.paragraph-default {
	font-weight: 400;
	font-size: 16px;
	color: grey;
}
header {
	width: 100%;
	overflow: hidden;
	height: 120px;
	position: relative;
	z-index: 220;
	.off-navbar {
		width: 100%;
		padding: 10px 50px 10px 40px;
		margin-left: auto;
		position: absolute;
		top: 0px;
		left: 43.5%;
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		font-weight: 900;
		.off-navbar-overlay {
			position: absolute;
			left: -4.5%;
			width: 100%;
			height: 100%;
			background-color: rgba(200, 200, 200, 0.3);
			z-index: 1;
			top: 0;
			transform: skew(200deg);
		}
		.off-navbar-item-phone {
			margin-left: 110px;
		}
		.off-navbar-item, .off-navbar-item-phone {
			display: inline-block;
			padding: 0px 20px;
			.off-navbar-link, .off-navbar-link-phone {
				color: black;
			}
			.off-navbar-item {
				margin-left: -100px !important;
			}
		}
	}
	.navbar {
		padding-top: 45px;
		.navbar-toggler {
			div {
				width: 30px;
				height: 3px;
				border-radius: 1px;
				background-color: black;
				margin: 4px 7px;
			}
			&:focus {
				outline: none;
			}
		}
		.navbar-brand {
			position: relative;
			float: left;
			font-size: 38px;
			font-weight: 700;
			color: black;
			font-family: 'PT Sans', sans-serif;
			font-weight: 700;
			.red-rectangle {
				position: absolute;
				width: 23px;
				height: 42px;
				background-color: red;
				left: -40px;
				z-index: 2;
				bottom: 10px;
				transform: skew(200deg);
			}
			.black-rectangle {
				left: -50px;
				position: absolute;
				width: 23px;
				height: 42px;
				background-color: black;
				z-index: 1;
				transform: skew(200deg);
			}
		}
		.navbar-nav {
			position: relative;
			margin-left: auto;
			.nav-item {
				padding: 0 5px;
				color: black;
				.nav-link {
					font-size: 15px;
					padding: 5px 13px;
					letter-spacing: -1px;
					color: black;
					font-family: 'PT Sans', sans-serif;
					font-weight: 700;
					transition: all 50ms ease-in-out;
					&:hover {
						color: white;
						background-color: black; 
					}
				}
			}
		}
	}
}

section#home {
	position: relative;
	overflow: hidden;
	min-height: 650px;
	.home-image {
		width: 100%;
		height: 100%;
		position: absolute;
		background-attachment: fixed;
		background-image: url("../images/homepage.jpg");
		background-size: cover;
		background-position: center;

	}
	.home-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 0;
		transform: skew(200deg);
		left: -48%;
	}
	.container {
		position: relative;
		z-index: 3;
	}
	
	.h3 {
		font-style: italic;
		color: white;
		font-size: 20px;
		padding-top: 170px;
	}
	h1 {
		color: rgb(220, 0, 0);
	}
	.home-list {
		padding-left: 40px;
		.home-list-item {
			margin: 12px 0px;
			list-style-type: none;
			color: white;
			.home-list-item-icon {
				border: 1px rgb(220, 0, 0) solid;
				margin: 5px 18px 5px 0;
				padding: 0px 4px;
				border-radius: 60px;
				svg {
					margin-top: -5px;
					font-size: 14px;
					color: rgb(220 ,0 ,0);
				}
			}
		}
	}
	.home-button-group {
		padding-top: 30px;
		padding-bottom: 30px;
		.white-button {
			display: inline-block;
			cursor: pointer;
			margin: 5px 5px 10px 5px;
			background-color: white;
			font-weight: 600;
			padding: 12px 40px;


		}
		.transparent-button {
			display: inline-block;
			cursor: pointer;
			margin: 5px;
			border: 1px white solid;
			color: white;
			padding: 11px 40px;
			font-weight: 600;
		}
	}
}

section#product {
	padding-top: 90px;
	min-height: 200px;
	#product-left-arrow {

	}
	#product-right-arrow {
		
	}
	.product-box {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

section#project {
	background-color: #f7f8f9;
	padding-top: 45px;
	padding-bottom: 90px;
	.container {

	}
	.project-wrapper {
		padding: 45px 5px 5px 5px;

	}
	img {
		width: 100%;
		height: 100%;
	}
	.project-box {
		overflow: hidden;
		position: relative;
		margin-bottom: 40px;
		.project-box-text {
			color: white;
			position: absolute;
			top: 30%;
			left: 25px;
			z-index: 10;
		}
		.project-box-overlay {
			position: absolute;
			top: 0;
			left: -50%;
			width: 100%;
			height: 100%;
			background-color: rgba(200, 20, 20, 0.7);
			z-index: 9;
			transform: skew(200deg);
		}
	}
}
section#trust {
	min-height: 300px;
	overflow: hidden;
	background-image:url('../images/trust-rood.jpg');
	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	.trust-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, rgba(60, 60, 60, 1), rgba(60, 60, 60, 0.8));
	}
	.trust-box {
		margin-top: 70px;
		margin-bottom: 90px;
		color: white !important;
		padding: 50px 20px 65px 25px; 
		background-color: rgb(250, 60, 60);
		h1 {
			font-family: 'PT Sans', sans-serif;
			font-weight: 600;
			font-size: 30px;
		}
		p {
			color: white;
			font-size: 17px;
		}
	}

}

section#client {
	padding-top: 120px;
	padding-bottom: 100px;
	.client-text {
		padding-top: 50px;
		overflow-x: hidden;
		.client-text-window {
			width: 380px;
			overflow: hidden;
			.client-text-wrapper {
				position: relative;
				width: 1500px;
				.client-text-1 {
					width: 300px;
					float: left;
					margin-right: 80px;
				}
			}
		}
		.h6 {
			font-size: 17px;
			line-height: 23px;
			color: rgb(110, 110, 110);
		}
		.client-text-1-name {
			margin-top: 70px;
			font-weight: bold;
			font-size: 18px;
			font-family: 'PT Sans', sans-serif;
		}
		.client-text-1-title {
			color: grey;
			font-family: 'PT Sans', sans-serif;
			font-size: 17px;
			font-weight: 400;
		}
		.client-text-trigger {
			cursor: pointer;
			display: inline-block;
			margin: 15px 20px 15px 0;
			color: rgb(200, 200, 200);
			font-family: 'PT Sans', sans-serif;
			font-weight: 400;
			font-size: 17px;
			line-height: 19px;
		}
	}
	
	.client-wrap {
		height: 300px;
		position: relative;
	}
	.client-icon {
		color: white;
		background-color: rgb(80, 80, 80);
		padding: 14px 16px;
		border-radius: 50%;
		position: absolute;
		bottom: 0;
		left: 235px;
		margin-bottom: -20px;
		z-index: 10;
	}
	
	.client-image-slider {
		height: 300px;
		text-align: center;
		width: 500px;
		overflow: hidden !important;
		position: relative;
		div {
			width: 45%;
			transform: skewX(200deg);
			position: absolute;
			overflow: hidden;
			img {
				transform: skewX(-200deg);
				width: 130%;
			}
			display: inline-block;
		}
		.client-image1 {
			left: -11%;
			z-index: 1;
		}
		.client-image2 {
			left: 34%;
			z-index: 3;
			img {
				margin-left: -29%; 
			}
		}
		.client-image3 {
			right: -11%;
			z-index: 5;
			img {
				margin-left: -30%;
			}
		}
	}
}
section#advices {
	width: 100%;
	min-height: 235px;
	background-color: rgb(35, 35, 35);
	position: relative;
	.red-background {
		width: 55%;
		background-color: rgb(255, 60, 60);
		height: 100%;
		transform: skew(5deg);
		margin-left: -40px;
		position: absolute;
	}
	.advices-text {
		width: 50%;
		padding-top: 70px;
		padding-bottom: 50px;
		position: relative;
		z-index: 100;
		color: white;
		float:left;
		h1 {
			font-family: 'PT Sans', sans-serif;
			font-size: 32px;
		}
	}
	div.trust-button {
		margin: 120px 0 0 160px;
		position: relative;
		z-index: 100;
	}
}
@media screen and (max-width: 1200px){
	#home .container h1 {
		font-size: 35px;
	}
	.off-navbar {
		left: 34% !important;
		.off-navbar-item-phone {
			margin-left: 100px !important
		}
		.off-navbar-overlay {
			left: 2.5% !important;
		}
	}
}
@media (max-width: 1300px) and (min-width: 1200px) {
	.navbar-brand {
		margin-left: 40px !important;
	}
}

@media (max-width: 1100px) and (min-width: 992px) {
	.navbar-brand {
		margin-left: 40px !important;
	}
}

@media screen and (max-width: 992px){ 
	#advices {
		overflow: hidden;
		.advices-text {
			width: 100% !important;
			text-align: center;
		}
		.red-background {
			transform: skewY(1.5deg) !important;
			width: 120% !important;
			top: -30%;
		}
		.trust-button {
			margin: 50px 0 30px 0 !important;
		} 
	}
	header {
		height: 90px !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		.header-wrapper {
			position: relative;
		}
		.off-navbar {
			display: none;
		}
		.navbar {
			padding-top: 15px !important;
			.navbar-nav {
				display: block;
				padding-top: 20px;
				.nav-item {
					margin: 2px;
				}
			}
		}
		box-shadow: 0 0 4px 0 #cccdce;
		transition: all 250ms ease-in-out;
	}
	.home-overlay {
		left: -30% !important;
	}
}

@media (max-width: 900px){
	.navbar-brand {
		margin-left: 40px !important;
	}
}
@media (max-width: 768px){
	#home {
		text-align: center !important;
		.home-list {
			padding-left: 0px !important;
		}
		.home-button-group {
			text-align: center;
		}
		.home-overlay {
			transform: skew(0) !important;
			left: 0 !important;
			background-color: rgba(0, 0, 0, 0.5) !important;
		}
	}
	.product-box .h3 {
		padding-top: 8px !important;
	}
}
@media (max-width: 560px){
	#home {
		min-height: 550px !important;
		.h3 {
			padding-top: 100px !important;
		}
	}
}
@media (max-width: 473px){
	#home {
		.white-button {
			padding: 12px 60px !important;
		}
		.transparent-button {
			padding: 12px 60px !important;
		}
	}
}

@media (max-width: 400px) {
	header {
		.navbar {
		}
		height: 70px !important;
		.navbar-brand {
			margin-left: 20px !important;
			font-size: 30px !important;

		}
		.red-rectangle {
			width: 17px !important;
			height: 34px !important;
			left: -25px !important;
			bottom: 10px !important;
		}
		.black-rectangle {
			width: 17px !important;
			height: 34px !important;
			border-radius: 2px !important;
			left: -33px !important;
		}
	}
}